html {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.header {
    height: 150px;
    background-color: rgb(46, 46, 46);
    color: white;
}

#blazor-error-ui {
    display: none;
}

main {
    display: flex;
    flex-grow: 1;
}

nav a.active {
    color: pink;
}

.left {
    flex: 20%;
    background-color: grey;
}

.right {
    flex: 80%;
    text-align: center;
}

.date {
    float: right;
    margin-top: 40px;
    margin-right: 2%;
}

#fruits {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 90%;
    margin: auto;
}

#fruits td, #fruits th {
    border: 1px solid #ddd;
    padding: 8px;
}

#fruits tr:nth-child(even) {
    background-color: #f2f2f2;
}

#fruits tr:hover {
    background-color: #ddd;
}

#fruits th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: pink;
    color: white;
}

li {
    list-style-type: none;
    font-size: 18px;
    line-height: 2.5;
}

li a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin-top: 10px;
    margin-left: 2%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    main {
        display: block;
    }
}