@page "/"

<PageTitle>Start</PageTitle>

<div>
    <h1>Välkommen!</h1>
    <p>Denna sida är skapad utifrån Moment 1 i kursen "Webbutveckling med .NET".</p>
    <p>Jag som skapat sidan heter Lisa och läser andra året och sista terminen på webbutvecklingsprogrammet, <br>
        Mittuniversitetet i Sundsvall.</p>
    <p>Katten i huvudmenyn är tagen från pixabay. Den kanske heter nåt fint?</p>
</div>

<Component/>

